 .form {
     margin-top: -280px;
     background: rgba(2, 2, 2, 0.5);
     backdrop-filter: blur(3px);

     height: 60vh;
     padding: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: -3px -2px 9px rgba(255, 255, 255, 0.466), 5px 5px 10px rgba(248, 248, 248, 0.657);
     border-radius: 5px;
 }



 @media (max-width: 900px) {
     .form {
         padding: 0;
         margin-top: -20px;
         height: 70vh;

     }

     .form label {
         margin-bottom: 0px;
     }

     .captcha {
         transform: scale(0.8);
     }

     .formControl {
         width: 200px;
         height: 35px;
         padding: 5px;
         margin-left: auto;
         margin-right: auto;
     }
 }